<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!--Customer form group-->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="firstName">First Name</label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="firstName" formControlName="firstName"/>
              <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">
                <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhiteSpace']">
                  First Name is required
                </div>
                <div *ngIf="firstName?.errors?.['minlength']">
                  First Name must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="lastName">Last Name</label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="lastName" formControlName="lastName" />
              <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger">
                <div *ngIf="lastName?.errors?.['required']">
                  Last Name is required
                </div>
                <div *ngIf="lastName?.errors?.['minlength']">
                  Last Name must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="email">Email</label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="email" formControlName="email" />
              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                <div *ngIf="email?.errors?.['required']">
                  Email is required
                </div>
                <div *ngIf="email?.errors?.['pattern']">
                  Email must be a valid email address format
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Shopping Address form group-->
        <div formGroupName="shoppingAddress" class="form-area">
          <h3>Shopping Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="street">street</label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="street" formControlName="street" />
              <div *ngIf="shoppingAddressStreet?.invalid && (shoppingAddressStreet?.dirty || shoppingAddressStreet?.touched)" class="alert alert-danger">
                <div *ngIf="shoppingAddressStreet?.errors?.['required'] || shoppingAddressStreet?.errors?.['notOnlyWhiteSpace']">
                  Street is required
                </div>
                <div *ngIf="shoppingAddressStreet?.errors?.['minlength']">
                  Street must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="city">city</label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="city" formControlName="city" />
              <div *ngIf="shoppingAddressCity?.invalid && (shoppingAddressCity?.dirty || shoppingAddressCity?.touched)" class="alert alert-danger">
                <div *ngIf="shoppingAddressCity?.errors?.['required'] || shoppingAddressCity?.errors?.['notOnlyWhiteSpace']">
                  City is required
                </div>
                <div *ngIf="shoppingAddressCity?.errors?.['minlength']">
                  City must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="state">state</label>
            </div>
            <div class="col-md-9 input-space">
              <select id="state" formControlName="state">
                <option
                  *ngFor="let state of shoppingAddressStates"
                  [ngValue]="state"
                >
                  {{ state.name }}
                </option>
              </select>
              <div *ngIf="shoppingAddressState?.invalid && (shoppingAddressState?.dirty || shoppingAddressState?.touched)" class="alert alert-danger">
                <div *ngIf="shoppingAddressState?.errors?.['required']">
                  State is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="country">country</label>
            </div>
            <div class="col-md-9 input-space">
              <select
                id="country"
                formControlName="country"
                (change)="getStates()"
              >
                <option *ngFor="let country of countries" [ngValue]="country">
                  {{ country.name }}
                </option>
              </select>
              <div *ngIf="shoppingAddressCountry?.invalid && (shoppingAddressCountry?.dirty || shoppingAddressCountry?.touched)" class="alert alert-danger">
                <div *ngIf="shoppingAddressCountry?.errors?.['required']">
                  Country is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="zipCode">zip code</label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="zipCode" formControlName="zipCode" />
              <div *ngIf="shoppingAddressZipCode?.invalid && (shoppingAddressZipCode?.dirty || shoppingAddressZipCode?.touched)" class="alert alert-danger">
                <div *ngIf="shoppingAddressZipCode?.errors?.['required'] || shoppingAddressZipCode?.errors?.['notOnlyWhiteSpace']">
                  Zip Code is required
                </div>
                <div *ngIf="shoppingAddressZipCode?.errors?.['minlength']">
                  Zip Code must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Credit Card form group-->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="cardType">card type</label>
            </div>
            <div class="col-md-9 input-space">
              <select type="text" id="cardType" formControlName="cardType">
                <option>TO DO</option>
              </select>
              <div *ngIf="creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)" class="alert alert-danger">
                <div *ngIf="creditCardType?.errors?.['required']">
                  Card Type is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="nameOnCard">name on card</label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="nameOnCard" formControlName="nameOnCard" />
              <div *ngIf="creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)" class="alert alert-danger">
                <div *ngIf="creditCardNameOnCard?.errors?.['required'] || creditCardNameOnCard?.errors?.['notOnlyWhiteSpace']">
                  Card Name is required
                </div>
                <div *ngIf="creditCardNameOnCard?.errors?.['minlength']">
                  Card Name must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="cardNumber">card number</label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="cardNumber" formControlName="cardNumber" />
              <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)" class="alert alert-danger">
                <div *ngIf="creditCardNumber?.errors?.['required']">
                  Card Number is required
                </div>
                <div *ngIf="creditCardNumber?.errors?.['pattern']">
                  Card Number must be a card number format
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="securityCode">security code</label>
            </div>
            <div class="col-md-9 input-space">
              <input
                type="text"
                id="securityCode"
                formControlName="securityCode"
              />
              <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardSecurityCode?.touched)" class="alert alert-danger">
                <div *ngIf="creditCardSecurityCode?.errors?.['required']">
                  Security Code is required
                </div>
                <div *ngIf="creditCardSecurityCode?.errors?.['pattern']">
                  Security Code must be a security code format
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="expirationMonth">expiration month</label>
            </div>
            <div class="col-md-9 input-space">
              <select
                type="text"
                id="expirationMonth"
                formControlName="expirationMonth"
              >
                <option *ngFor="let month of creditCardMonth">
                  {{ month }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="expirationYear">expiration year</label>
            </div>
            <div class="col-md-9 input-space">
              <select
                type="text"
                id="expirationYear"
                formControlName="expirationYear"
                (change)="handleMonthsAndYears()"
              >
                <option *ngFor="let year of creditCardYear">{{ year }}</option>
              </select>
            </div>
          </div>
        </div>

        <!--Order Detail-->
        <div class="form-area">
          <h3>Review Your Order</h3>
          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shopping: Free</p>
          <p>Total Price: {{ totalPrice | currency: "USD" }}</p>
        </div>

        <!--Submit button-->
        <div class="text-center">
          <button class="btn btn-primary">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
